@import './markdown.css';

html {
  @apply bg-background-light overflow-x-hidden overscroll-x-none;
  
  scroll-padding-top: 0;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none;
}

/* html.dark {
  @apply bg-dark-800 text-light-100;
} */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply fixed top-0 left-0 bg-primary-light opacity-75 w-full;

  height: 3px;
  z-index: 1031;
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-primary text-white cursor-pointer
    hover:bg-primary-light
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.card {
  @apply bg-white shadow rounded-lg;
  /* dark:bg-dark-500 dark:text-light-100; */
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-primary;
  font-size: 0.9em;
}

.page-enter-active,
.page-leave-active {
  @apply transition-opacity duration-200;
}

.page-enter-from,
.page-leave-to {
  @apply opacity-0;
}
